{{page-title "Dialog"}}

<Article
  @title="Dialog (Modal)"
  @description="An accessible dialog component that you can easily extend to build your custom dialog components."
  @demoSrc="/examples/dialog"
>
{{format-markdown "
## Usage

Dialogs are built using the `dialog`, `dialog.Title`, `dialog.Description`, and `dialog.Panel` components. When the
dialog's `@open` argument is set to `true`, the contents are rendered and focus is moved to the first valid focusable
element. If there isn't any valid focusable element, then focus is moved to the `dialog.Panel` component. Clicking
outside the `dialog.Panel` component or pressing the `Escape` key closes the dialog.

```js
import Component from '@glimmer/component';
import { tracked } from '@glimmer/tracking';
import { action } from '@ember/object';

export default class MyDialogComponent extends Component {
  @tracked isOpen = true;

  @action close() {
    this.isOpen = false;
  }
}
```

```handlebars
<Dialog @open={{this.isOpen}} @onClose={{this.close}} as |dialog|>
  <dialog.Panel>
    <dialog.Title>Activate account</dialog.Title>
    <dialog.Description>
      This will activate your account. Are you sure?
    </dialog.Description>

    <p>All of your data will be restored back.</p>

    <button type=\"button\">Button</button>
  </dialog.Panel>
</Dialog>
```

> If you use the `dialog.Title` and `dialog.Description` components, we'll automatically set the `aria-labelledby` and
> `aria-describedby` attributes respectively.

## Keyboard interactions

| Command      | Description |
| ---        |    ----   |
| `Escape`      | Closes the dialog.       |
| `Tab`   | Cycles through tabbable elements.        |
| `Shift + Tab`   | Cycles backwards through tabbable elements.        |

## Component API

### `dialog`

| Argument      | Default | Description |
| ---        |    ----   | ---- |
| `open`      | -       | `Boolean`. Whether the dialog is open or not. |
| `onClose`   | -        | `() => void`. Called when the `dialog` is dismissed. |
| `as`   | `div`        | `string \| typeof Component` |

### `dialog.Panel`
| Argument      | Default | Description |
| ---        |    ----   | ---- |
| `as`   | `div`        | `string \| typeof Component` |

### `dialog.Title`
| Argument      | Default | Description |
| ---        |    ----   | ---- |
| `as`   | `h2`        | `string \| typeof Component` |

### `dialog.Description`
| Argument      | Default | Description |
| ---        |    ----   | ---- |
| `as`   | `p`        | `string \| typeof Component` |
"}}
</Article>
