<Navbar />

<div class="flex max-w-8xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <div class="hidden lg:block flex-shrink-0 w-64 mr-9">
    <nav class="sticky top-[100px] space-y-4 text-gray-600">
      <LinkTo @route="components.dialog" @activeClass="text-gray-900" class="block hover:text-gray-900">
        Dialog (Modal)
      </LinkTo>

      <LinkTo @route="components.menu" @activeClass="text-gray-900" class="block hover:text-gray-900">
        Menu (Dropdown)
      </LinkTo>

      <LinkTo @route="components.switch" @activeClass="text-gray-900" class="block hover:text-gray-900">
        Switch (Toggle)
      </LinkTo>
    </nav>
  </div>

  <main class="flex-1 overflow-x-hidden">
    {{outlet}}
  </main>
</div>
