{{page-title "Components"}}

<div class="flex-1 flex">
  <Sidebar />
  <div class="flex-1 flex flex-col">
    <Navbar />
    <main class="flex-1 max-w-8xl w-full mx-auto p-12">
      {{outlet}}
    </main>
  </div>
</div>
