<div class="flex-1 flex">
  <Sidebar />
  <div class="flex-1 flex flex-col">
    <Navbar />
    <main class="flex flex-1 max-w-8xl w-full mx-auto p-4 sm:p-6 lg:p-12">
      <article
        class="flex-1 w-full max-w-[800px] mx-auto prose prose-code:before:content-none prose-code:after:content-none"
      >
        {{outlet}}
      </article>

      <div class="hidden flex-shrink-0 pl-8 w-56 lg:block">
        <div class="sticky top-24 overflow-y-auto max-h-[calc(100vh_-_96px)]">
          <Toc />
        </div>
      </div>
    </main>
  </div>
</div>
