<div class="flex-1 flex">
  <Sidebar />
  <div class="flex-1 flex flex-col">
    <Navbar />
    <main class="flex-1 max-w-8xl w-full mx-auto p-4 sm:p-6 lg:p-12">
      <article class="w-full max-w-[800px] mx-auto prose prose-code:before:content-none prose-code:after:content-none">
        {{outlet}}
      </article>
    </main>
  </div>
</div>
