<header class="bg-white flex items-center justify-between h-12 px-4 sm:px-6 lg:px-8">
  <div>
    Logo
  </div>

  <div class="flex items-center text-sm space-x-4">
    <a
      href="https://github.com/abeidahmed/ember-primitiveui/blob/main/CHANGELOG.md"
      class="inline-flex items-center text-blue-600 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span>Changelog</span>
      <span class="flex-shrink-0 ml-1" aria-hidden="true">
        <Svg @icon="external-link" @size="18" />
      </span>
    </a>

    <a
      href="https://github.com/abeidahmed/ember-primitiveui"
      class="inline-flex items-center text-blue-600 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="flex-1">GitHub</span>
      <span class="flex-shrink-0 ml-1" aria-hidden="true">
        <Svg @icon="external-link" @size="18" />
      </span>
    </a>
  </div>
</header>

<main class="max-w-8xl mx-auto">
  <section class="py-20 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-extrabold sm:text-4xl md:text-5xl">
      Build accessible UI components
      <br class="hidden sm:inline" />
      without breaking a sweat!
    </h1>

    <p class="mt-3 sm:text-lg text-gray-600">
      Ember primitiveUI is an open-source UI component library for
      <br class="hidden sm:inline" />
      building ambitious Ember.js applications.
    </p>

    <div class="mt-5">
      <LinkTo
        @route="docs.getting-started"
        class="inline-flex items-center justify-center gap-x-2 h-10 px-4 bg-gray-900 text-white font-semibold rounded hover:bg-gray-800 active:bg-gray-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-gray-900"
      >
        Install components
        <span class="text-gray-300"><Svg @icon="drop-right" /></span>
      </LinkTo>
    </div>
  </section>

  <section class="py-20 px-4 sm:px-6 lg:px-8">
    <h2 class="text-2xl font-bold sm:text-2xl md:text-3xl">What you get?</h2>
    <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      <div class="col-span-1 border rounded p-5">
        <div class="text-blue-600">
          <Svg @icon="check-circle" @size="28" />
        </div>
        <h3 class="py-2 font-semibold text-xl">WAI-ARIA compliant</h3>
        <p class="text-gray-600 leading-5">
          Components adhere to the WAI-ARIA design patterns wherever possible.
        </p>
      </div>
      <div class="col-span-1 border rounded p-5">
        <div class="text-blue-600">
          <Svg @icon="keyboard" @size="28" />
        </div>
        <h3 class="py-2 font-semibold text-xl">Keyboard management</h3>
        <p class="text-gray-600 leading-5">
          Components provide full keyboard support where users expect to use them.
        </p>
      </div>
      <div class="col-span-1 border rounded p-5">
        <div class="text-blue-600">
          <Svg @icon="focus" @size="28" />
        </div>
        <h3 class="py-2 font-semibold text-xl">Focus management</h3>
        <p class="text-gray-600 leading-5">
          By default, the components provide sensible focus management. However, you can customize them with the help of
          our modifiers.
        </p>
      </div>
      <div class="col-span-1 border rounded p-5">
        <div class="text-blue-600">
          <Svg @icon="brush" @size="28" />
        </div>
        <h3 class="py-2 font-semibold text-xl">Unstyled components</h3>
        <p class="text-gray-600 leading-5">
          All the components are unstyled giving you the freedom to style them as you wish.
        </p>
      </div>
    </div>
  </section>
</main>
