<div class="col-span-1 border rounded p-5" ...attributes>
  <div class="text-blue-600">
    <Svg @icon={{@icon}} @size="28" />
  </div>
  <h3 class="py-2 font-semibold text-lg md:text-xl">{{@title}}</h3>
  <p class="text-gray-600 leading-5">
    {{@description}}
  </p>
</div>
