<header class="flex-shrink-0 bg-white border-b flex items-center justify-end sticky px-4 sm:px-6 top-0 h-12 z-10">
  <div class="flex items-center text-sm space-x-4">
    <a
      href="https://github.com/abeidahmed/ember-primitiveui/blob/main/CHANGELOG.md"
      class="inline-flex items-center text-blue-600 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span>Changelog</span>
      <span class="flex-shrink-0 ml-1" aria-hidden="true">
        {{svg-jar "external-link" fill="currentColor" height="18" width="18"}}
      </span>
    </a>

    <a
      href="https://github.com/abeidahmed/ember-primitiveui"
      class="inline-flex items-center text-blue-600 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="flex-1">GitHub</span>
      <span class="flex-shrink-0 ml-1" aria-hidden="true">
        {{svg-jar "external-link" fill="currentColor" height="18" width="18"}}
      </span>
    </a>
  </div>
</header>
