<header class="sticky top-0 bg-white bg-opacity-50 backdrop-blur backdrop-filter max-w-8xl mx-auto">
  <div class="mx-auto max-w-8xl xl:px-8">
    <div class="flex items-center justify-between border-b py-5 px-4 sm:px-6 lg:px-8 xl:px-0">
      <LinkTo @route="index" aria-label="Ember primitiveUI">
        {{svg-jar "logo" class="w-48 h-auto"}}
      </LinkTo>

      <div class="flex-shrink-0">
        <a
          href="https://github.com/abeidahmed/ember-primitiveui"
          aria-label="GitHub repository"
          class="text-gray-500 hover:text-gray-900"
        >
          {{svg-jar "github-solid" fill="currentColor"}}
        </a>
      </div>
    </div>
  </div>
</header>
