{{page-title "Dialog"}}

<div class="container">
  <MyDialog>
    Dialog content!

    <div>
      <button type="button">Cancel</button>
      <button type="button">Confirm</button>
    </div>
  </MyDialog>
</div>
