{{! template-lint-disable no-inline-styles }}

{{page-title "WithBodyLock"}}

<div class="container" style="min-height: 120vh">
  <MyDialog>
    <div>
      Dialog content!
    </div>

    <MyMenu />
  </MyDialog>
</div>
