<button type="button" {{on "click" this.open}}>
  Open dialog
</button>

{{#if this.isOpen}}
  <Dialog @onClose={{this.close}} class="dialog" as |dialog|>
    <dialog.Panel class="dialog-panel">
      <header class="dialog-header">
        <dialog.Title class="dialog-title">Dialog title</dialog.Title>
        <button type="button" {{on "click" this.close}}>X</button>
      </header>

      {{yield}}
    </dialog.Panel>
  </Dialog>
{{/if}}
