<Menu class="menu" as |menu|>
  <menu.Button class="menu-btn" data-button>
    Options
  </menu.Button>

  <menu.Items
    class="menu-list"
    {{velcro "[data-button]" offsetOptions=(hash mainAxis=4)}}
  >
    <menu.Item type="button" class="menu-item" as |item|>
      <span class="menu-item-text {{if item.isActive 'active'}}">
        Account settings
      </span>
    </menu.Item>

    <menu.Item type="button" class="menu-item" as |item|>
      <span class="menu-item-text {{if item.isActive 'active'}}">
        Support
      </span>
    </menu.Item>

    <menu.Item type="button" class="menu-item" as |item|>
      <span class="menu-item-text {{if item.isActive 'active'}}">
        License
      </span>
    </menu.Item>
  </menu.Items>
</Menu>
